$dark-text: #b4afab;
$orange: #f7a059;
$tech-text: "Share Tech", sans-serif;
$bold-text: "Roboto", sans-serif;
$background: #3c475c;

.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  overflow-y: hidden;

  a {
    all: unset;
  }

  .App {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100vh;

    #nav-bar {
      counter-set: nav-counter;
      padding-top: 16px;
      padding-left: 30px;
      padding-right: 30px;

      position: inline-felx;
      display: flex;

      #bars {
        margin-left: auto;
        color: $orange;
      }

      #logo {
        color: $orange;
      }

      #nav-items {
        display: none;
      }

      #resume {
        font-weight: normal;
        width: fit-content;
        border-radius: 2px;
        color: $orange;
        border: solid 2px $orange;
        margin-top: -5px;

        li {
          margin: 5px 7px;
        }
      }
    }

    .nav-side-bar {
      counter-set: nav-counter;

      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px);

      .nav-content {
        background-color: #3c475c;
        width: 70vw;
        height: 100vh;
        display: flex;
        position: fixed;
        flex-direction: column;
        right: 0;

        .exit {
          position: fixed;
          top: 8px;
          right: 25px;
          padding: 10px;
          color: $orange;
          font-weight: bolder;
          font-size: 1.5em;
        }

        .nav-items {
          list-style: none;
          height: 70%;
          width: 100%;
          margin: auto;
          font-size: 1.5em;
          padding-left: 10px;
        }

        li {
          margin: 40px 15px;
          font-weight: bold;
          color: $dark-text;

          a {
            text-decoration: none;
            color: inherit;
          }
        }

        li:hover {
          color: $orange;
        }

        li:before {
          content: counter(nav-counter, decimal-leading-zero) "." "\A";
          counter-increment: nav-counter;
          color: $orange;
        }

        a {
          text-decoration: none;

          .resume-button {
            font-weight: normal;
            width: fit-content;
            padding: 5px 7px;
            border-radius: 2px;
            font-size: 1em;
            color: $orange;
            border: solid 2px $orange;
          }

          .resume-button:hover {
            color: $background;
            background-color: #f7a059;
          }

          .resume-button:before {
            display: none;
          }
        }
      }
    }

    #social-media-icons,
    #vertical-email {
      display: none;
    }

    #home {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 15vh;

      #hello {
        color: $orange;
        font-family: $tech-text;
      }

      #name {
        color: rgb(243, 243, 243);
        font-family: $bold-text;
        font-size: 60px;
      }

      #bio {
        color: $dark-text;
        font-family: $bold-text;
        padding-top: 20px;
        font-size: 15px;
        line-height: 25px;
        margin: 0;
        span {
          color: $orange;
        }
      }
    }

    @media only screen and (min-width: 900px) {
      #nav-bar {
        position: inline-felx;
        display: flex;
        font-size: 1.5em;
        padding-left: 0;
        padding-right: 0;

        #logo {
          padding-left: 120px;
          padding-top: 16px;
          color: $orange;
        }

        #bars {
          display: none;
        }

        #nav-items {
          list-style: none;
          display: flex;
          justify-content: space-around;
          width: 60%;
          max-width: 800px;
          margin-left: auto;
          font-weight: bold;
          color: $dark-text;
          padding-right: 120px;

          .nav-item:before {
            content: counter(nav-counter, decimal-leading-zero) ".";
            counter-increment: nav-counter;
            margin-right: 4px;
            color: $orange;
          }
        }
      }

      #social-media-icons {
        display: flex;
        flex-direction: column;
        color: $orange;
        position: absolute;
        bottom: 0;
        width: 120px;
        max-width: 120px;
        height: 50vh;

        #social-icons {
          list-style: none;

          .social-icon {
            padding-top: 30px;
            color: $dark-text;
          }
        }

        .vertical-line-left-side {
          border-left: 6px solid $dark-text;
          height: 25vh;
          position: absolute;
          left: 50%;
          margin-left: -3px;
          bottom: 0;
        }
      }

      #vertical-email {
        display: flex;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        bottom: 0;
        width: 120px;
        max-width: 120px;
        height: 50vh;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 2em;

        span {
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
          color: $dark-text;
        }

        .vertical-line-left-side {
          border-left: 6px solid $dark-text;
          height: 20%;
          position: absolute;
          left: 50%;
          margin-left: -3px;
          bottom: 0;
        }
      }

      #home {
        padding-left: 120px;

        #hello {
          font-size: 4em;
        }

        #name {
          font-size: 9em;
        }

        #bio {
          max-width: 900px;
          padding-top: 20px;
          font-size: 30px;
          line-height: 45px;
        }
      }
    }
  }
}
